@using Microsoft.AspNetCore.Components.Authorization
@using BlogManagementSystem.Presentation.Components.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <MudPaper Class="pa-4" Elevation="3">
                                        <MudText Typo="Typo.h5" Color="Color.Error" Class="mb-4">Access Denied</MudText>
                                        <MudText>You are not authorized to access this resource.</MudText>
                                        <MudButton Href="/" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4">
                                            Return to Home
                                        </MudButton>
                                    </MudPaper>
                                </div>
                            </div>
                        </div>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex justify-center align-center vh-100">
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <MudText Typo="Typo.h4" Class="mb-5 mt-5">Sorry, there's nothing at this address.</MudText>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
